{% extends "base.html" %}

{% block title %}Recommendations - Rocksmith+{% endblock %}

{% block content %}
    <section class="recommendations-section">
        <h1>Recommendations</h1>
        
        <div class="input-options">
            <div class="option-buttons">
                <button id="showBandForm" class="option-btn active">By Favorite Bands</button>
                <button id="showGenreForm" class="option-btn">By Genre Weights</button>
            </div>

            <!-- Band-based form -->
            <form id="bandForm" class="input-form">
                <h4><div class="form-info">Band Selection</div></h4>
                <div class="form-info">Add any bands you like and select their closest genre(s)</div>
                <div id="bandInputs">
                    <div class="band-input">
                        <input type="text" placeholder="Enter band name" required>
                        <div class="genre-selects">
                            <select required class="primary-genre">
                                <option value="">*Primary</option>
                                <option value="alternative">Alternative</option>
                                <option value="blues">Blues</option>
                                <option value="childrens-music">Children's Music</option>
                                <option value="classical">Classical</option>
                                <option value="comedy">Comedy</option>
                                <option value="country">Country</option>
                                <option value="electronic">Electronic</option>
                                <option value="folk">Folk</option>
                                <option value="hip-hop">Hip-Hop</option>
                                <option value="holiday-music">Holiday Music</option>
                                <option value="indie">Indie</option>
                                <option value="jazz">Jazz</option>
                                <option value="latin">Latin</option>
                                <option value="metal">Metal</option>
                                <option value="new-age">New Age</option>
                                <option value="other">Other</option>
                                <option value="pop">Pop</option>
                                <option value="punk">Punk</option>
                                <option value="punk-rock">Punk Rock</option>
                                <option value="rb">R&B</option>
                                <option value="reggae">Reggae</option>
                                <option value="regional-music">Regional Music</option>
                                <option value="rock">Rock</option>
                                <option value="sacred-music">Sacred Music</option>
                                <option value="stage-screen">Stage & Screen</option>
                            </select>
                            <select class="secondary-genre">
                                <option value="">Secondary</option>
                                <option value="alternative">Alternative</option>
                                <option value="blues">Blues</option>
                                <option value="childrens-music">Children's Music</option>
                                <option value="classical">Classical</option>
                                <option value="comedy">Comedy</option>
                                <option value="country">Country</option>
                                <option value="electronic">Electronic</option>
                                <option value="folk">Folk</option>
                                <option value="hip-hop">Hip-Hop</option>
                                <option value="holiday-music">Holiday Music</option>
                                <option value="indie">Indie</option>
                                <option value="jazz">Jazz</option>
                                <option value="latin">Latin</option>
                                <option value="metal">Metal</option>
                                <option value="new-age">New Age</option>
                                <option value="other">Other</option>
                                <option value="pop">Pop</option>
                                <option value="punk">Punk</option>
                                <option value="punk-rock">Punk Rock</option>
                                <option value="rb">R&B</option>
                                <option value="reggae">Reggae</option>
                                <option value="regional-music">Regional Music</option>
                                <option value="rock">Rock</option>
                                <option value="sacred-music">Sacred Music</option>
                                <option value="stage-screen">Stage & Screen</option>
                            </select>
                            <select class="tertiary-genre">
                                <option value="">Tertiary</option>
                                <option value="alternative">Alternative</option>
                                <option value="blues">Blues</option>
                                <option value="childrens-music">Children's Music</option>
                                <option value="classical">Classical</option>
                                <option value="comedy">Comedy</option>
                                <option value="country">Country</option>
                                <option value="electronic">Electronic</option>
                                <option value="folk">Folk</option>
                                <option value="hip-hop">Hip-Hop</option>
                                <option value="holiday-music">Holiday Music</option>
                                <option value="indie">Indie</option>
                                <option value="jazz">Jazz</option>
                                <option value="latin">Latin</option>
                                <option value="metal">Metal</option>
                                <option value="new-age">New Age</option>
                                <option value="other">Other</option>
                                <option value="pop">Pop</option>
                                <option value="punk">Punk</option>
                                <option value="punk-rock">Punk Rock</option>
                                <option value="rb">R&B</option>
                                <option value="reggae">Reggae</option>
                                <option value="regional-music">Regional Music</option>
                                <option value="rock">Rock</option>
                                <option value="sacred-music">Sacred Music</option>
                                <option value="stage-screen">Stage & Screen</option>
                            </select>
                        </div>
                        <button type="button" class="remove-btn" hidden>×</button>
                    </div>
                </div>
                <button type="button" id="addBand" class="add-btn">Add Another Band</button>
                <button type="submit" class="submit-btn">Get Recommendations</button>
            </form>

            <!-- Genre-based form -->
            <form id="genreForm" class="input-form" hidden>
                <h4><div class="form-info">Genre Weights</div></h4>
                <div class="form-info">Each genre can only be selected once</div>
                <div id="genreInputs">
                    <div id="genreInputs">
                        <div class="genre-input">
                            <select required>
                                <option value="">Select genre</option>
                                <option value="alternative">Alternative</option>
                                <option value="blues">Blues</option>
                                <option value="childrens-music">Children's Music</option>
                                <option value="classical">Classical</option>
                                <option value="comedy">Comedy</option>
                                <option value="country">Country</option>
                                <option value="electronic">Electronic</option>
                                <option value="folk">Folk</option>
                                <option value="hip-hop">Hip-Hop</option>
                                <option value="holiday-music">Holiday Music</option>
                                <option value="indie">Indie</option>
                                <option value="jazz">Jazz</option>
                                <option value="latin">Latin</option>
                                <option value="metal">Metal</option>
                                <option value="new-age">New Age</option>
                                <option value="other">Other</option>
                                <option value="pop">Pop</option>
                                <option value="punk">Punk</option>
                                <option value="punk-rock">Punk Rock</option>
                                <option value="rb">R&B</option>
                                <option value="reggae">Reggae</option>
                                <option value="regional-music">Regional Music</option>
                                <option value="rock">Rock</option>
                                <option value="sacred-music">Sacred Music</option>
                                <option value="stage-screen">Stage & Screen</option>
                            </select>
                            <input type="number" min="0" max="100" placeholder="Weight 0-100" required>
                            <button type="button" class="remove-btn" hidden>×</button>
                        </div>
                    </div>
                </div>
                <button type="button" id="addGenre" class="add-btn">Add Another Genre</button>
                <button type="submit" class="submit-btn">Get Recommendations</button>
            </form>
        </div>
    </section>
{% endblock %}